<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anila.stematel.bagiananila">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pemesanan"></activity>
        <activity android:name=".kasus_baru" />
        <activity android:name=".pasien_sembuh" />
        <activity android:name=".total_kematian" />
        <activity android:name=".kasus_terkonfirmasi" />
        <activity android:name=".informasiCovid1" />
        <activity
            android:name=".beranda"
            android:label="@string/title_activity_beranda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>